{% extends 'base.html.twig' %}

{% block title %}Debt index{% endblock %}

{% block body %}
    <h1>Debt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cpf</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for debt in debts %}
            <tr>
                <td>{{ debt.id }}</td>
                <td>{{ debt.cpf }}</td>
                <td>{{ debt.price }}</td>
                <td>
                    <a href="{{ path('debt_show', {'id': debt.id}) }}">show</a>
                    <a href="{{ path('debt_edit', {'id': debt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('debt_new') }}">Create new</a>
{% endblock %}
